@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
}

.mx-auto{
    align-items: left !important;
    width: 25%;
    /* z-index: 100 !important; */
    float: left !important;
    padding-left: 40px;
}
form label{
    color: white !important;
} 
form > div > input{
    padding: 5px 10px 5px 22px !important;
    border-radius:10px 10px 0px 0px !important;
    text-align: left;
    opacity: 1;
    height: 45px;
}
form > div:nth-child(1) > input{
    width: 490px !important;
    height: 46px !important;
}
.single-line > div{
    width: 800px !important;
}
.single-line label{
    display: inline-block !important;
    padding-right: 9rem;
}
.single-line > div:last-child select, input{
    display: inline-block !important;
    width: 150px !important;
    padding: 5px 10px 5px 22px !important;
    border-radius:10px 10px 0px 0px !important;
    margin-right: 7rem;
}

#image{
    width: 700px !important;
    height: 46px !important;
}
#about{
    width: 700px !important;
    height: 130px !important;
}

.error{
    text-align: center;
    font: normal normal bold 18px/24px Open Sans;
    letter-spacing: 0.18px !important;
    color: #D64D4D !important;
    opacity: 1;
    height: 24px;
    font-size: 15px;
}
form > div:last-child{
    width: 50rem;
}
.form-button{
    background-color: #237DB6 !important ;
    display: inline-block !important;
    outline: none !important;
    border: #237DB6;
    border-radius: 30px;
    color: white !important;
    text-align: center;
    width: 170px;
    height: 40px;
}
#cancel{
    background-color: #000000 !important;
    display: inline-block !important;
    border: #000000;
    border-radius: 30px;
    color: white !important;
    margin-left: 4rem;
    padding: 10px 50px;
    width: 165px;
    height: 40px;
}

@media only screen and (max-width: 780px) {
    form{
        width: 100%;
    }
}