@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
}
#auth_home{
    background: url(img/login_register.jpg) 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    height: 100% !important;
    min-height:100vh !important;
    z-index: 0 !important;
    max-height: 100vh;
    position: relative;
  } 

.overlap{
    margin-top: 4% !important;
    align-items: center;
    margin-left: 13% !important;
    position: absolute;
    width: 75% !important;
    height: 85% !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    background: rgba(255, 255, 255,0.2);
    z-index: -5 !important;
    fill-opacity: 0%;
}
.overlap img{
    width: 20% !important;
    margin-top: 13px;
} 

.a2img2{
    align-items: center !important;
} 

form{
    align-items: center !important;
    width: 25%;
    z-index: 100 !important;
}
form > div:nth-child(1){
    margin-top: 15px;
}
form > div > input{
    padding: 5px 10px 5px 20px !important;
    border-radius:10px 10px 0px 0px !important;
    text-align: left;
    opacity: 1;
    height: 45px;
}

.error{
    text-align: center;
    font: normal normal bold 18px/24px Open Sans;
    letter-spacing: 0.18px;
    color: #D64D4D !important;
    opacity: 1;
    height: 24px;
    font-size: 15px;
}

.a1btn1{
    background-color: #237DB6!important ;
    outline: none !important;
    border-bottom: #237DB6;
    border-right: #237DB6;
    border-radius: 30px;
    color: white;
    padding: 10px;
    width: 100% !important;
    opacity: 1;
}
.a2img2{
    align-items: center !important;
    text-align: center !important;
    margin-left: 40%;
    opacity: 1;
}

.a1text1{
    align-items: center;
    text-align: center;
    color: white;
    font-size: 15px;
}
a{
    color: #237DB6 !important;
    margin-left: 3px;
}

#footer {
    position: fixed !important;
    left: 0;
    bottom: 0 !important;
    width: 100%;
    color: #FFFFFF;
}

@media only screen and (max-width: 780px) {
    form{
        width: 100%;
    }
    .a2img2{
        width: 100% !important;
        margin-left: 20% !important;
    }
  }
